:80 {
    encode gzip

    @cache {
        path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.html *.ttf *.eot
    }
    
    header @cache Cache-Control "public, max-age=604800, must-revalidate"

    handle_path /chitchat/* {
        reverse_proxy localhost:9000
    }

    handle /* {
        file_server
        root * /app/backend/dist
        try_files {path} /index.html
    }

}